body {
  background: #383333;
  color: hsl(0, 0%, 100%);
  padding: 25px;
  font-family: sans-serif;
  text-align: center;
}

#header {
  background-color: darkblue;
  text-align: center;
  
}

#chef {
width: 306px;
height: 204px;


}



