body {
  background: #000;
  color: hsl(0, 0%, 100%);
  padding: 25px;
  font-family: sans-serif;
  text-align: center;
}

#s1 {
  color: rgb(91, 226, 91);
}

#s2 {
  text-align: center;
}

#s3 {
  text-align: center;
}

#header {
  background-color: darkblue;
  text-align: center;
  
}

#chef {
width: 306px;
height: 204px;

}

