* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: darkolivegreen;
  color: hsl(0, 0%, 100%);
  padding: 25px;
  font-family: sans-serif, 'Times New Roman', Times, serif;
  text-align: center;
}

#header {
  background-color: navajowhite;
  text-align: center;
}

#chef {
width: 306px;
height: 204px;
}
 form button:hover {
  background: greenyellow;

 }

 #list {
  text-decoration: underline;
  color: blue;
  text-shadow: black;
 }

 .list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.list-item span {
  margin-right: 10px;
}

.breadcrumb li+li::before {
  content: ">";
}


